include ./index.pug

h2 Waiting
ul
  each val in waiting_requests
    li
      p= val.customer
      p= val.status
      p= val.created_at

h2 Ongoing
ul
  each val in ongoing_requests
    li
      p= val.customer
      p= val.status
      p= val.created_at

h2 Complete
ul
  each val in complete_requests
    li
      p= val.customer
      p= val.status
      p= val.created_at